# in the event the build.sh cleanup function doesn't run
# prevents accidental commit
terraform/

# this will come from the terraform repo, no reason to commit to git
source/d
source/r
source/index.html.markdown
source/layouts/sidebar.erb
source/layouts/sidebar.erb-e
source/ibmcloud-v0.1-beta
source/ibmcloud-v0.2-beta
source/ibmcloud-v0.3-beta
source/tf-0.9.3-bluemix-api-key
source/tf-v0.9.3-ibm-k8s-v0.1
source/tf-v0.9.3-ibm-provider-v0.1
source/tf-v0.9.3-ibm-provider-v0.2
source/tf-v0.9.3-ibm-provider-v0.2.1
source/v0.3-tf-v0.9.3
source/v0.4.0

.sass-cache/

# should always be built from source and pushed to gh-pages
build/
docs/

tmp

# bundler
vendor
.bundle
source/_inject-new.md
source/_inject-old.md
