html, body {
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  height: 100%;
  -webkit-text-size-adjust: none; /* Never autoresize text */
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* overrides */
.nav {
  float: left !important;
}

ul.docs-sidenav > li {
  text-transform: uppercase !important;
  font-weight: bold !important;
  overflow: auto !important;
}

ul.nav-visible > li {
  text-transform: none !important;
  font-weight: normal !important;
  padding-left: 10px !important;
}
