<div style="background-color: lightgrey; font-weight: bold;">
    <blockquote><i>Documentation for the IBM Cloud Provider for Terraform has moved to 
    <a href="https://cloud.ibm.com/docs/terraform?topic=terraform-tf-provider">https://cloud.ibm.com/docs/terraform?topic=terraform-tf-provider</a>. 
    This site will be deprecated soon. Please adjust your links.</i>
    </blockquote>
</div>
