<footer class="site-footer">
  <div class="container">
    <div class="col-md-9">
      <ul class="list-inline social-list">
        <li>
          <a href="https://github.com/IBM-Bluemix/terraform-provider-ibm">
            <i class="fa fa-lg fa-github"></i>
            GitHub</a>
        </li>
        <li>
          <a href="https://ibm-cloud-schematics.slack.com/signup">
            <i class="fa fa-lg fa-slack"></i>
            Slack</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      IBM Cloud Provider for Terraform&trade;
    </div>
  </div>
</footer>
