<%= partial "layouts/meta" %>
<body>
<div class="container-fluid page-wrapper">
    <%= partial "layouts/sidebar" %>
    <div class="col-md-10 grid-md-10">
        <div class="content">
            <%= yield %>
        </div>
    </div>
</div>
</body>
</html>
