<%= partial "layouts/meta" %>
<body>
<div class="container-fluid page-wrapper">
    <div class="row" id="contents">
        <div class="col-md-10 grid-md-10">
            <div class="content">
                <%= yield %>
            </div>
        </div>
    </div>
</div>
</body>
</html>
