<%
  # Hax
  module StringConstants
    LANDING_PAGE_VERSION = "v0.5.0"
  end
  # current_page.url will resolve to something like:
  # "tf-v0.9.3-ibm-provider-v0.2.1/r/"
  # get the version to place in the header
  directory = current_page.url[0, current_page.url.rindex("/")]
  version = nil
  # we're in a /d or /r directory
  if directory.index("\/d") != nil or directory.index("\/r") != nil
    # current_page.url will be similar to:
    # tf-v0.9.3-ibm-provider-v0.2.1/d/
    if directory.count("\/") == 1
      version = StringConstants::LANDING_PAGE_VERSION
    else
      version = current_page.url.split('/')[1]
    end
  # top level directory
  elsif current_page.url == "/"
    # /d and /r should exist at the topmost level for the targeted default ver
    version = StringConstants::LANDING_PAGE_VERSION
  # we're in a /<version> directory
  else
    # current_page.url will be similar to:
    # tf-v0.9.3-ibm-provider-v0.2.1/
    version = directory.split('/')[1]
  end
%>

<nav class="top-block navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/tf-ibm-docs/index.html">IBM Cloud Provider for Terraform&trade;</a>
      <i class="navbar-brand version-header">
        VERSION: <%= version %>
      </i>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/IBM-Bluemix/terraform-provider-ibm">
            <i class="fa fa-lg fa-github"></i>GitHub</a>
        </li>
        <li>
          <a href="https://ibm-cloud-schematics.slack.com/signup">
            <i class="fa fa-lg fa-slack"></i>
            Slack</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
